.grid-report {
    .loading-spinner {
        text-align: center;
    }

    .btn-refresh-report {
        width: 48px;
        height: 48px;
    }

    .btn-add {
        width: 48px;
        height: 48px;
    }
}