@import '../../App.scss';

.page-restoex {
    .subform-area {
        padding-top: 2rem;
    }

    .form-area.GRID {
        display: none;
    }

    .subgrid-area.EDIT {
        display: none;
    }

    .subgrid-area.DUPLICATE {
        display: none;
    }
}
