@import "../../App.scss";

.infobox-container {
  $height: 450px;
  position: absolute;
  display: flex;
  width: 100%;
  height: $height;
  top: 50px;

  .infobox {
    $headerHeight: 30%;

    margin-left: 150px;
    width: 530px;
    height: $height;
    background-color: rgba($light, 0.9);
    border: none;

    .infobox-article {
      height: calc(100% - #{$headerHeight});

      .infobox-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $headerHeight;
        background-color: $COLOR_WHITE;
      }

      .infobox-main {
        color: $COLOR_FLAT_CLOUDS; //$COLOR_FLAT_MIDNIGHT;
        padding: 20px;

        h1 {
          font-weight: bold;
        }

        h4 {
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .infobox-container {
    justify-content: center;
    .infobox {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 530px) {
  .infobox-container {
    top: 0;
    height: 280px;

    .infobox {
      width: 100%;
      background-color: rgba($COLOR_FLAT_CLOUDS, 1);
      border: none;
      .infobox-article {
        .infobox-header {
          display: none;
        }
      }
    }
  }
}
