@import "../../App.scss";

.main-navbar {
    background-color: $COLOR_FLAT_WET_ASP;
    ul {
        list-style: none;
        li {
            a {
                text-decoration: none;
                color: $COLOR_FLAT_SILVER;
            }

            a.active {
                background-color: $COLOR_FLAT_GREEN_SEA;
                color: $COLOR_WHITE;
                font-weight: bolder;
            }

            a:hover {
                background-color: $COLOR_FLAT_TURQUOISE;
                color: $COLOR_FLAT_CLOUDS;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .main-navbar {
        #main-navbar-ham {
            display: none;
        }

        #main-menu {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                margin: 0;

                li {
                    a {
                        padding: 1rem;
                        height: 100%;
                        display: flex;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .main-navbar {
        display: block;

        #main-navbar-ham {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $COLOR_WHITE;
            width: 24px;
            height: 24px;
        }

        #main-menu.CLOSED {
            display: none;
        }

        ul {
            li {
                height: 2rem;

                a {
                    display: block;
                    padding-left: 1rem;
                }
            }
        }
        ul.top-level {
            padding-left: 0;
        }
    }
}
