.sub-grid {
    .loading-spinner {
        text-align: center;
    }

    .btn-refresh-report {
        width: 48px;
        height: 48px;
    }

    .btn-add {
        width: 48px;
        height: 48px;
    }

    .subgrid-area {
        width: 100%;
        height: 100%;
    }

    .subgrid-grid {
        height: 30%;
        left: 10px;
    }
}