.stat1picture {
    margin: 10px;
    margin-top: 15px;
    .startpicture-img {
        width: 100%;
        img {
            width: 100%;
            // max-width: 600px;
        }
    }
}
.stat2picture {
    margin: 10px;
    margin-top: 15px;
    .startpicture-img {
        width: 100%;
        img {
            width: 100%;
            // max-width: 600px;
        }
    }
}
.stat3picture {
    margin: 10px;
    margin-top: 15px;
    .startpicture-img {
        width: 100%;
        img {
            width: 100%;
            // max-width: 600px;
        }
    }
}
