@import '../../App.scss';

.page-exercises {

    .grid2.HEAD {
        display: none;
    }

    .grid2.trash1 {
        display: none;
    }

    .grid1.CHILD {
        display: none;
    }
  
    .grid1.restrash1 {
        display: none;
    }

    .formbtndel2.HEAD {
        display: none;
    }

    .formbtndel2.CHILD {
        display: none;
    }

    .formbtndel1.trash1 {
        display: none;
    }

    .formbtndel1.restrash1 {
        display: none;
    }

    .formbtncancel.HEAD {
        display: none;
    }

    .formbtncancel.CHILD {
        display: none;
    }


}