@import '../../App.scss';

.page-testtemplates {

    .grid2.HEAD {
        display: none;
    }

    .grid2.trash1 {
        display: none;
    }

    .grid1.CHILD {
        display: none;
    }
  
    .grid1.childtrash1 {
        display: none;
    }

    .formbtndel2.HEAD {
        display: none;
    }

    .formbtndel2.CHILD {
        display: none;
    }

    .formbtndel1.trash1 {
        display: none;
    }

    .formbtndel1.childtrash1 {
        display: none;
    }

    .formbtncancel.HEAD {
        display: none;
    }

    .formbtncancel.CHILD {
        display: none;
    }
    .formbtndel1.EDITING {
        display: none;
    }

    .formbtndel2.EDITING {
        display: none;
    }

    .formbtncancel.EDITING {
        display: none;
    }

    .formbtnnew.EDITING {
        display: none;
    }

    .formbtnnewplaceholder.HEAD {
        display: none;
    }


    .formbtnnew.trash1 {
        display: none;
    }

    .formbtnnewplaceholder.trash1 {
        display: none;
    }

    .grid1.CHILDEDITING {
        display: none;
    }
 
    .grid2.EDITING {
        display: none;
    }

    .formbtndel1.CHILDEDITING {
        display: none;
    }

    .formbtndel2.CHILDEDITING {
        display: none;
    }

    .formbtncancel.CHILDEDITING {
        display: none;
    }

}