.proba-page {
    .area1.DEFAULT {
        display: none;
    }

    .area2.DEFAULT {
        display: none;
    }
    
    .area.A2 {
        display: none;
    }
    
    .area2.A2 {
        display: none;
    }

    .area.A1 {
        display: none;
    }

    .area1.A1 {
        display: none;
    }

}