@import "../../App.scss";

#LoggedUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;

  span {
    font-size: 0.7rem;
  }
}

#LoggedUser-user-icon {
  border: none;
  color: $COLOR_FLAT_WET_ASP;
  width: 32px;
  height: 32px;
  background-image: url("./LoggedUser-user-icon.svg");
}
