@import '../../App.scss';

.page-organisations {
    .form-area {
        padding-top: 2rem;
    }

    .form-area.GRID {
        display: none;
    }

    .grid-area.EDIT {
        display: none;
    }

    .grid-area.DUPLICATE {
        display: none;
    }
}
