@import '../../App.scss';

.page-exercises {

    .grid2.HEAD {
        display: none;
    }

    .grid2.trash1 {
        display: none;
    }

    .grid1.CHILD {
        display: none;
    }
  
    .grid1.restrash1 {
        display: none;
    }

    .exercisebtndel2.HEAD {
        display: none;
    }

    .exercisebtndel2.CHILD {
        display: none;
    }

    .exercisebtndel1.trash1 {
        display: none;
    }

    .exercisebtndel1.restrash1 {
        display: none;
    }

    .exercisebtncancel.HEAD {
        display: none;
    }

    .exercisebtncancel.CHILD {
        display: none;
    }


}