@import '../../App.scss';

.page-exercises {
    .grid1.HEAD {
        padding-top: 1rem;
    }

    .grid2.HEAD {
        display: none;
    }

    .grid1.CHILD {
        display: none;
    }

    .grid2.CHILD {
        padding-top: 1rem;
    }

}